<!DOCTYPE html>
<html lang="pt-br" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Curso de AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div ng-controller="listaController">
    <form>
        Busca: <input type="text" ng-model="busca">
    </form>
        <ul ng-repeat="tarefa in tarefas | filter:busca">
            <li>
                {{tarefa.prioridade}} - {{tarefa.nome}} - <a href="" ng-click="remover($index)">Remover</a>
            </li>
        </ul>
        <hr>
        <form>
            Nome: <input type="text" ng-model="t.nome"><br>
            Prioridade: <input type="text" ng-model="t.prioridade">
            <button ng-click="adicionar(t)">Adicionar</button>
        </form>
    </div>
</body>
</html>
