<!DOCTYPE html>
<html lang="pt-br" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Curso de AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="app.js"></script>
    <style type="text/css">
        .css-form input.ng-invalid {
            background-color: #FA787E;
        }
        .css-form input.ng-valid {
            background-color: #78FA89;
        }
    </style>
</head>
<body>
    <div ng-controller="formularioController">
        <h1>Formulários</h1>
        <form name="form" novalidate ng-submit="salvar()" class="css-form">
            Nome: <input type="text" name="nome" ng-model="formulario.nome" required> <br>
            <div ng-show="form.$submitted || form.nome.$touched">
                <ul>
                    <li ng-show="form.nome.$error.required">Este campo é obrigatório!</li>
                </ul>
            </div>
            Email: <input name="email" type="email" ng-model="formulario.email" required> <br>
            <div ng-show="form.$submitted || form.nome.$touched">
                <ul>
                    <li ng-show="form.email.$error.required">Este campo é obrigatório!</li>
                    <li ng-show="form.email.$error.email">Isso não é um email!</li>
                </ul>
            </div>
            Genero:
                <input type="radio" value="masculino" ng-model="formulario.genero">
                <input type="radio" value="feminio" ng-model="formulario.genero">
                <br>
            <input type="button" value="Reset" ng-click="reset()">
            <input type="submit" value="Salvar" ng-disabled="form.$invalid">
        </form>
        <hr>
        <pre>
            {{formulario}}
        </pre>
        <pre>
            {{salvo}}
        </pre>
    </div>
</body>
</html>
